.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100vh;
}

.App .H1 {
  font-size: 100px;
  color: #001F3F;
}

.App p {
  text-align: center;
  padding-bottom: 20px;
  color: #001F3F;
  font-size: 25px;
}

hr {
  margin-top: 20px;
  margin-bottom: 0;
  border-color: #001F3F;
}

.displayPosts .post {
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 #00378f1a, 0 6px 20px 0 #00378f1a;
  padding: 20px 30px;
  border-radius: 10px;
  min-width: 500px;
  background-color: white;
}

.displayPosts .postName {
  font-size: 30px;
  margin-top: 6px;
  color: #001F3F;
}

.displayPosts .postContent {
  margin-top: -10px;
  font-size: 15px;
  font-weight: 400;
}

input {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(123, 123, 123, 0.1),
    0 6px 20px 0 rgba(118, 118, 118, 0.19);
  outline: none;
}

button {
  padding: 7px 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(123, 123, 123, 0.1),
    0 6px 20px 0 rgba(55, 55, 55, 0.19);
  background-color: #001F3F;
  color: rgb(175, 120, 139);
  cursor: pointer;
}

@media screen and (max-width:768px){
  .displayPosts .post {
    min-width: 400px;
  }
}

@media screen and (max-width: 480px){
  .H1{
    font-size: 50px;
  }
  .displayPosts .post {
    min-width: 200px;
    max-height: 116px;
  }
  input {
    max-width: 90px;
  }
  button {
    margin-top: 8px;
  }
  .delete {
    margin-left: 50px;
  }
}